<aside class="sidebar offcanvas-lg offcanvas-start">
    <div class="d-flex justify-content-end m-4 d-block d-lg-none">
      <button
        data-bs-dismiss="offcanvas"
        data-bs-target=".sidebar"
        class="btn p-0 border-0 fs-4"
        aria-label="Button Close"
      >
        <i class="fas fa-close"></i>
      </button>
    </div>
    <div class="logo-brand mt-lg-5">
      <img
        src="/assets/images/logo.png"
        alt="Logo Shoso"
        width="80"
        height="50"
      />
      <div>
        <h6 class="title-store">LelangKu</h6>
        <p class="tagline-store">Admin LelangKu</p>
      </div>
    </div>
    <hr />
    <nav class="menu flex-fill">
      <div class="section-menu">
        <a href="/admin/dashboard" 
          class="item-menu 
          <% if (active=="dashboard") { %>
            active
          <%}%>" 
          onclick="handleClickMenu(this)">
          <svg fill="currentColor">
            <path
              d="M6 2.5C3.79086 2.5 2 4.29086 2 6.5V10.5C2 11.6046 2.89543 12.5 4 12.5H5.5C6.32843 12.5 7 11.8284 7 11V10.5C7 9.94772 7.44772 9.5 8 9.5C8.55228 9.5 9 9.94772 9 10.5V10.8333C9 11.7538 9.74619 12.5 10.6667 12.5H12.3333C13.2538 12.5 14 11.7538 14 10.8333V10.5C14 9.94772 14.4477 9.5 15 9.5C15.5523 9.5 16 9.94772 16 10.5V11C16 11.8284 16.6716 12.5 17.5 12.5H19C20.1046 12.5 21 11.6046 21 10.5V6.5C21 4.29086 19.2091 2.5 17 2.5H6ZM3 14.75C3.41421 14.75 3.75 15.0858 3.75 15.5V18.5C3.75 20.2949 5.20507 21.75 7 21.75H16C17.7949 21.75 19.25 20.2949 19.25 18.5V15.5C19.25 15.0858 19.5858 14.75 20 14.75C20.4142 14.75 20.75 15.0858 20.75 15.5V18.5C20.75 21.1234 18.6234 23.25 16 23.25H7C4.37665 23.25 2.25 21.1234 2.25 18.5V15.5C2.25 15.0858 2.58579 14.75 3 14.75ZM9 16.75C9 16.3358 9.33579 16 9.75 16H13.25C13.6642 16 14 16.3358 14 16.75C14 17.1642 13.6642 17.5 13.25 17.5H9.75C9.33579 17.5 9 17.1642 9 16.75Z"
              fill="currentColor"
            />
          </svg>
          <p>Dashboard</p>
        </a>
      </div>
      <div class="section-menu">
        <p class="fs-18 fw-500 mb-2">My Account</p>
        <a href="/admin/category" 
          class="item-menu
            <% if (active=="category") { %>
              active
            <%}%>"
            onclick="handleClickMenu(this)">
          <svg fill="none">
            <path
              d="M15.4559 6.58621V7.08621H15.9559H17.496C18.3534 7.08621 19.0124 7.67074 19.0966 8.36425L19.0966 8.36425L19.0973 8.36975L20.4776 18.7744C20.7115 20.7152 19.0442 22.5 16.7797 22.5H7.22014C4.95566 22.5 3.28838 20.7152 3.52228 18.7743L4.90258 8.36975L4.90261 8.36975L4.90328 8.36425C4.98747 7.67074 5.64646 7.08621 6.50387 7.08621H8.04397H8.54397V6.58621V5.62069C8.54397 3.93794 10.0487 2.5 11.9999 2.5C13.9512 2.5 15.4559 3.93794 15.4559 5.62069V6.58621ZM14.8735 8.03448V7.53448H14.3735H9.62636H9.12636V8.03448V10.4483C9.12636 10.5313 9.03859 10.6724 8.83516 10.6724C8.63174 10.6724 8.54397 10.5313 8.54397 10.4483V8.03448V7.53448H8.04397H6.50387C6.01844 7.53448 5.54941 7.87337 5.48368 8.40043L4.1033 18.8056L4.10327 18.8056L4.1026 18.8111C3.88702 20.5869 5.3988 22.0517 7.22014 22.0517H16.7797C18.6011 22.0517 20.1129 20.5869 19.8973 18.8111L19.8973 18.8111L19.8966 18.8056L18.5162 8.40048C18.4505 7.87339 17.9815 7.53448 17.496 7.53448H15.9559H15.4559V8.03448V10.4483C15.4559 10.5313 15.3681 10.6724 15.1647 10.6724C14.9613 10.6724 14.8735 10.5313 14.8735 10.4483V8.03448ZM14.3735 7.08621H14.8735V6.58621V5.62069C14.8735 4.104 13.5444 2.94828 11.9999 2.94828C10.4555 2.94828 9.12636 4.104 9.12636 5.62069V6.58621V7.08621H9.62636H14.3735ZM9.33516 16C9.33516 15.917 9.42294 15.7759 9.62636 15.7759H14.3735C14.5769 15.7759 14.6647 15.917 14.6647 16C14.6647 16.083 14.5769 16.2241 14.3735 16.2241H9.62636C9.42293 16.2241 9.33516 16.083 9.33516 16Z"
              stroke="currentColor"
            />
          </svg>
          <p class="flex-fill">Category</p>
          <div class="circle-notif rounded-circle">
            <p>1</p>
          </div>
        </a>
        <a href="/admin/bank" 
          class="item-menu
            <% if (active=="bank") { %>
              active
            <%}%>"
            onclick="handleClickMenu(this)">
          <svg fill="none">
            <path
              d="M15.4559 6.58621V7.08621H15.9559H17.496C18.3534 7.08621 19.0124 7.67074 19.0966 8.36425L19.0966 8.36425L19.0973 8.36975L20.4776 18.7744C20.7115 20.7152 19.0442 22.5 16.7797 22.5H7.22014C4.95566 22.5 3.28838 20.7152 3.52228 18.7743L4.90258 8.36975L4.90261 8.36975L4.90328 8.36425C4.98747 7.67074 5.64646 7.08621 6.50387 7.08621H8.04397H8.54397V6.58621V5.62069C8.54397 3.93794 10.0487 2.5 11.9999 2.5C13.9512 2.5 15.4559 3.93794 15.4559 5.62069V6.58621ZM14.8735 8.03448V7.53448H14.3735H9.62636H9.12636V8.03448V10.4483C9.12636 10.5313 9.03859 10.6724 8.83516 10.6724C8.63174 10.6724 8.54397 10.5313 8.54397 10.4483V8.03448V7.53448H8.04397H6.50387C6.01844 7.53448 5.54941 7.87337 5.48368 8.40043L4.1033 18.8056L4.10327 18.8056L4.1026 18.8111C3.88702 20.5869 5.3988 22.0517 7.22014 22.0517H16.7797C18.6011 22.0517 20.1129 20.5869 19.8973 18.8111L19.8973 18.8111L19.8966 18.8056L18.5162 8.40048C18.4505 7.87339 17.9815 7.53448 17.496 7.53448H15.9559H15.4559V8.03448V10.4483C15.4559 10.5313 15.3681 10.6724 15.1647 10.6724C14.9613 10.6724 14.8735 10.5313 14.8735 10.4483V8.03448ZM14.3735 7.08621H14.8735V6.58621V5.62069C14.8735 4.104 13.5444 2.94828 11.9999 2.94828C10.4555 2.94828 9.12636 4.104 9.12636 5.62069V6.58621V7.08621H9.62636H14.3735ZM9.33516 16C9.33516 15.917 9.42294 15.7759 9.62636 15.7759H14.3735C14.5769 15.7759 14.6647 15.917 14.6647 16C14.6647 16.083 14.5769 16.2241 14.3735 16.2241H9.62636C9.42293 16.2241 9.33516 16.083 9.33516 16Z"
              stroke="currentColor"
            />
          </svg>
          <p class="flex-fill">Bank</p>
          <div class="circle-notif rounded-circle">
            <p>1</p>
          </div>
        </a>
        <a href="/admin/expedition" 
          class="item-menu
            <% if (active=="expedition") { %>
              active
            <%}%>"
            onclick="handleClickMenu(this)">
          <svg fill="none">
            <path
              d="M15.4559 6.58621V7.08621H15.9559H17.496C18.3534 7.08621 19.0124 7.67074 19.0966 8.36425L19.0966 8.36425L19.0973 8.36975L20.4776 18.7744C20.7115 20.7152 19.0442 22.5 16.7797 22.5H7.22014C4.95566 22.5 3.28838 20.7152 3.52228 18.7743L4.90258 8.36975L4.90261 8.36975L4.90328 8.36425C4.98747 7.67074 5.64646 7.08621 6.50387 7.08621H8.04397H8.54397V6.58621V5.62069C8.54397 3.93794 10.0487 2.5 11.9999 2.5C13.9512 2.5 15.4559 3.93794 15.4559 5.62069V6.58621ZM14.8735 8.03448V7.53448H14.3735H9.62636H9.12636V8.03448V10.4483C9.12636 10.5313 9.03859 10.6724 8.83516 10.6724C8.63174 10.6724 8.54397 10.5313 8.54397 10.4483V8.03448V7.53448H8.04397H6.50387C6.01844 7.53448 5.54941 7.87337 5.48368 8.40043L4.1033 18.8056L4.10327 18.8056L4.1026 18.8111C3.88702 20.5869 5.3988 22.0517 7.22014 22.0517H16.7797C18.6011 22.0517 20.1129 20.5869 19.8973 18.8111L19.8973 18.8111L19.8966 18.8056L18.5162 8.40048C18.4505 7.87339 17.9815 7.53448 17.496 7.53448H15.9559H15.4559V8.03448V10.4483C15.4559 10.5313 15.3681 10.6724 15.1647 10.6724C14.9613 10.6724 14.8735 10.5313 14.8735 10.4483V8.03448ZM14.3735 7.08621H14.8735V6.58621V5.62069C14.8735 4.104 13.5444 2.94828 11.9999 2.94828C10.4555 2.94828 9.12636 4.104 9.12636 5.62069V6.58621V7.08621H9.62636H14.3735ZM9.33516 16C9.33516 15.917 9.42294 15.7759 9.62636 15.7759H14.3735C14.5769 15.7759 14.6647 15.917 14.6647 16C14.6647 16.083 14.5769 16.2241 14.3735 16.2241H9.62636C9.42293 16.2241 9.33516 16.083 9.33516 16Z"
              stroke="currentColor"
            />
          </svg>
          <p class="flex-fill">Expeditionk</p>
          <div class="circle-notif rounded-circle">
            <p>1</p>
          </div>
        </a>
        <a href="/admin/transaction"
          class="item-menu 
            <% if (active=="transaction") { %>
              active
            <%}%>"
          onclick="handleClickMenu(this)">
          <svg fill="none">
            <path
              d="M5.69331 9.17202C4.80139 5.38137 7.67749 1.75 11.5717 1.75H12.4283C16.3225 1.75 19.1986 5.38137 18.3067 9.17202C18.2441 9.438 18.2734 9.71732 18.3897 9.96454L19.0683 9.6452L18.3897 9.96454L19.9699 13.3225C20.1544 13.7144 20.25 14.1422 20.25 14.5754C20.25 15.7607 19.5509 16.7382 18.5105 16.9941C16.9986 17.3659 14.7669 17.75 12 17.75C9.23306 17.75 7.00142 17.3659 5.48952 16.9941C4.44915 16.7382 3.75 15.7607 3.75 14.5754C3.75 14.1422 3.84563 13.7144 4.03005 13.3225L5.61029 9.96454C5.72663 9.71731 5.75589 9.43799 5.69331 9.17202Z"
              stroke="currentColor"
              stroke-width="1.5"
            />
            <path
              d="M14.5 21C14.4001 21.156 14.2369 21.3228 13.9972 21.4777C13.758 21.6324 13.4583 21.7647 13.1108 21.8578C12.7639 21.9507 12.3858 22 12 22C11.6142 22 11.2361 21.9507 10.8892 21.8578C10.5417 21.7647 10.242 21.6324 10.0028 21.4777C9.76312 21.3228 9.59994 21.156 9.5 21"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
            />
          </svg>
          <p class="flex-fill">Transaction</p>
          <div class="circle-notif rounded-circle">
            <p>9</p>
          </div>
        </a>
        <a href="/admin/signout" class="item-menu" onclick="handleClickMenu(this)">
          <svg fill="none">
            <mask id="path-1-inside-1_1_64" fill="white">
              <path
                d="M16 5.25833C16 4.28723 15.2128 3.5 14.2417 3.5H11.7584C10.7872 3.5 10 4.28723 10 5.25834C10 6.61191 8.53473 7.45789 7.3625 6.7811C6.5215 6.29555 5.44612 6.5837 4.96056 7.4247L3.7189 9.57533C3.23335 10.4163 3.52149 11.4917 4.36249 11.9772C5.53471 12.654 5.53471 14.346 4.36249 15.0228C3.5215 15.5083 3.23335 16.5837 3.7189 17.4247L4.96057 19.5753C5.44612 20.4163 6.5215 20.7045 7.3625 20.2189C8.53472 19.5421 10 20.3881 10 21.7417C10 22.7128 10.7872 23.5 11.7583 23.5H14.2417C15.2128 23.5 16 22.7128 16 21.7417C16 20.3881 17.4653 19.5421 18.6375 20.2189C19.4785 20.7045 20.5539 20.4163 21.0394 19.5753L22.2811 17.4247C22.7667 16.5837 22.4785 15.5083 21.6375 15.0228C20.4653 14.346 20.4653 12.654 21.6375 11.9772C22.4785 11.4917 22.7667 10.4163 22.2811 9.5753L21.0395 7.42468C20.5539 6.58368 19.4785 6.29554 18.6375 6.78109C17.4653 7.45787 16 6.6119 16 5.25833Z"
              />
            </mask>
            <path
              d="M22.2811 9.5753L20.9821 10.3253L22.2811 9.5753ZM11.7584 5H14.2417V2H11.7584V5ZM5.01793 10.3253L6.2596 8.1747L3.66153 6.6747L2.41986 8.82533L5.01793 10.3253ZM6.25961 18.8253L5.01794 16.6747L2.41986 18.1747L3.66153 20.3253L6.25961 18.8253ZM14.2417 22H11.7583V25H14.2417V22ZM20.9821 16.6747L19.7404 18.8253L22.3385 20.3253L23.5801 18.1747L20.9821 16.6747ZM19.7404 8.17468L20.9821 10.3253L23.5802 8.8253L22.3385 6.67468L19.7404 8.17468ZM17.8875 5.48205C17.7153 5.58149 17.5 5.45719 17.5 5.25833H14.5C14.5 7.76661 17.2153 9.33425 19.3875 8.08013L17.8875 5.48205ZM22.3385 6.67468C21.4387 5.11624 19.446 4.58229 17.8875 5.48205L19.3875 8.08013C19.5111 8.00879 19.6691 8.05113 19.7404 8.17468L22.3385 6.67468ZM22.3875 13.2763C23.946 12.3765 24.4799 10.3837 23.5802 8.8253L20.9821 10.3253C21.0534 10.4489 21.0111 10.6069 20.8875 10.6782L22.3875 13.2763ZM22.3875 13.7237C22.2153 13.6243 22.2153 13.3757 22.3875 13.2763L20.8875 10.6782C18.7153 11.9323 18.7153 15.0677 20.8875 16.3218L22.3875 13.7237ZM23.5801 18.1747C24.4799 16.6163 23.9459 14.6235 22.3875 13.7237L20.8875 16.3218C21.0111 16.3931 21.0534 16.5511 20.9821 16.6747L23.5801 18.1747ZM17.8875 21.518C19.4459 22.4177 21.4387 21.8838 22.3385 20.3253L19.7404 18.8253C19.6691 18.9489 19.5111 18.9912 19.3875 18.9199L17.8875 21.518ZM17.5 21.7417C17.5 21.5428 17.7153 21.4185 17.8875 21.518L19.3875 18.9199C17.2153 17.6657 14.5 19.2334 14.5 21.7417H17.5ZM14.2417 25C16.0412 25 17.5 23.5412 17.5 21.7417H14.5C14.5 21.8843 14.3843 22 14.2417 22V25ZM8.5 21.7417C8.5 23.5412 9.95881 25 11.7583 25V22C11.6157 22 11.5 21.8843 11.5 21.7417H8.5ZM8.1125 21.5179C8.28472 21.4185 8.5 21.5428 8.5 21.7417H11.5C11.5 19.2334 8.78472 17.6657 6.6125 18.9199L8.1125 21.5179ZM3.66153 20.3253C4.56129 21.8837 6.55406 22.4177 8.1125 21.5179L6.6125 18.9199C6.48894 18.9912 6.33094 18.9489 6.25961 18.8253L3.66153 20.3253ZM3.61249 13.7237C2.05406 14.6235 1.5201 16.6162 2.41986 18.1747L5.01794 16.6747C4.9466 16.5511 4.98893 16.3931 5.11249 16.3218L3.61249 13.7237ZM3.61249 13.2763C3.78471 13.3757 3.78471 13.6243 3.61249 13.7237L5.11249 16.3218C7.28471 15.0677 7.2847 11.9323 5.11249 10.6782L3.61249 13.2763ZM2.41986 8.82533C1.5201 10.3838 2.05406 12.3765 3.61249 13.2763L5.11249 10.6782C4.98893 10.6069 4.9466 10.4489 5.01793 10.3253L2.41986 8.82533ZM8.1125 5.48206C6.55406 4.5823 4.56129 5.11626 3.66153 6.6747L6.2596 8.1747C6.33094 8.05114 6.48894 8.0088 6.6125 8.08014L8.1125 5.48206ZM8.50001 5.25834C8.50001 5.4572 8.28473 5.5815 8.1125 5.48206L6.6125 8.08014C8.78473 9.33427 11.5 7.76661 11.5 5.25834H8.50001ZM14.2417 5C14.3844 5 14.5 5.11566 14.5 5.25833H17.5C17.5 3.4588 16.0412 2 14.2417 2V5ZM11.7584 2C9.95882 2 8.50001 3.45881 8.50001 5.25834H11.5C11.5 5.11566 11.6157 5 11.7584 5V2Z"
              fill="currentColor"
              mask="url(#path-1-inside-1_1_64)"
            />
            <circle
              cx="13"
              cy="13.5"
              r="2.25"
              stroke="currentColor"
              stroke-width="1.5"
            />
          </svg>
          <p>Log Out</p>
        </a>
      </div>
    </nav>
    <footer>
      <p>©2022 LelangKu. All rights reserved.</p>
    </footer>
  </aside>