@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

/* --------------- BAGIAN LANDING PAGE ---------------- */
/* navbar */
.header {
  padding: 8px 32px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 4px 6px -1px;
}

.header .img-lelangku {
  width: 150px;
  padding: 0px 5px;
}

.header .text-kategori {
  padding: 2px 5px;
  font-size: 14px;
}

.header .text-kategori:hover {
  background-color: #f3f4f5 !important;
  cursor: pointer !important;
  color: #004aad;
  border-radius: 5px;
}

.text-kategori:hover + kategory {
  display: block;
}

.header span {
  color: #929292;
}

.header .wrap-search {
  position: relative;
  background-color: #fff;
  width: 100%;
  height: 35px;
}

.header .wrap-search .form-control {
  background-color: transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border: 1px solid #cdcdcd;
  z-index: 1;
  justify-content: center;
}

.header .wrap-search .form-control::placeholder {
  color: #cdcdcd;
  font-size: 14px;
}

.header .wrap-search .form-control:focus {
  box-shadow: none;
  border: 1px solid #004aad;
}

.header .wrap-icons {
  position: relative;
  background-color: transparent;
  margin-left: 20px;
  font-size: 22px;
}

.header .wrap-icons a {
  color: #929292;
  text-decoration: none;
}

.header .wrap-icons a:hover {
  color: #004aad;
  transition: all 0.2s linear;
}

.header .wrap-icons span {
  text-decoration: none;
}

.header .wrap-icons span:hover {
  color: #004aad;
  transition: all 0.2s linear;
}

.header .wrap-icons div {
  text-decoration: none;
  color: #929292;
  padding: 8px;
}

.header .wrap-icons div:hover {
  color: #004aad;
  transition: all 0.2s linear;
}

.header .text-masuk {
  font-size: 14px;
}

.line {
  font-size: 26px;
  color: #cdcdcd;
  margin-bottom: 4px;
  font-weight: 400;
  margin-right: 20px;
}

.navbar-brand {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar-brand img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.container-fluid {
  align-items: start;
  justify-content: space-around;
}

.kategory {
  display: flex;
  flex-direction: column;
  display: none;
}

.head-kategory {
  width: 100%;
  overflow-x: scroll;
  position: fixed;
  top: 110px;
  z-index: 99999;
  border-top: 1px solid #cdcdcd;
  background-color: #ffffff;
}

.head-kategory span {
  padding: 10px 30px;
  border-bottom: 2px solid transparent;
  color: #969696;
}

.head-kategory span:hover {
  padding: 10px 30px;
  border-bottom: 2px solid #03ac0e;
  color: #03ac0e;
  cursor: pointer;
}

.head-left {
  overflow-y: scroll;
  height: 100vh;
  padding-top: 100px;
  padding-left: 35px;
}

.head-left h6 {
  font-size: 12px;
  padding: 10px 0 10px 10px;
  border-radius: 4px;
  margin-right: 10px;
}

.head-left h6:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.kategoryStyle {
  display: block;
}

.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 1%;
  width: 250px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu {
  background: #fff;
  padding: 20px;
}

.user-info {
  display: flex;
  align-items: center;
}

.info-saldo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

.info-saldo h5 {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
}

.user-info h3 {
  font-weight: 600;
}

.user-info img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #000;
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

.sub-menu-link p {
  width: 100%;
}
.sub-menu-link i {
  width: 40px;
  padding: 8px;
  margin-right: 15px;
  font-size: 14px;
}

.sub-menu-link span {
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}

/* caraousel style */

.carousel {
  position: relative;
  margin: 40px 125px 40px 125px;
  top: 60px;
  bottom: 125px;
}

.kategori-pilihan {
  position: relative;
  top: 100px;
  margin: 0px 125px 125px 125px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
}

.kategori-pilihan h1 {
  font-size: 24px;
  font-weight: bold;
}

.menu-scroll {
  overflow-x: scroll;
}

.menu-scroll::-webkit-scrollbar {
  display: none;
}

.item-scroll {
  border-radius: 14px;
  padding: 4px;
}

.card-kategori {
  position: relative;
  top: 50px;
  margin: 0px 125px 45px 125px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
  padding: 32px;
  border-radius: 10px;
  overflow-x: scroll;
}

.card-kategori::-webkit-scrollbar {
  display: none;
}

.card-kategori a {
  margin-right: 6px;
  border-radius: 10px;
}

.button-kategori {
  vertical-align: middle;
  text-align: center;
}

/* Bagian Product Card */
.card {
  background-color: #fff;
  position: relative;
  width: 300px;
  border: none;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 0px;
}

.percent {
  width: 70px;
  height: 30px;
  position: absolute;
  background: #004aad;
  color: #fff;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  border-bottom-left-radius: 15px;
  padding: 10px;
}

.card-image a {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gambar-hover:hover .overlay-card-product {
  opacity: 0.5;
}

.overlay-card-product {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #004aad;
  border-radius: 10px;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-inner {
  padding: 20px;
}

.price span {
  color: orange;
  font-weight: 600;
  font-size: 20px;
}

footer {
  padding-top: 50px;
}

/* --------------- BAGIAN LANDING PAGE ---------------- */

/* Bagian Login & Sign Up */
.divider-signin-signup:after,
.divider-signin-signup:before {
  content: '';
  flex: 1;
  height: 3px;
  background: #eee;
}

.card-login {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
  border-radius: 12px;
  padding: 30px 80px 75px 80px;
}

.card-signup {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
  border-radius: 12px;
  padding: 30px 80px 50px 80px;
}

.card-item {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
  border-radius: 12px;
}

.wrap-affix {
  position: relative;
  padding: 8px 32px;
}

.card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 12px;
}

.card-body {
  padding: 10px;
}

.divider {
  position: relative;
  top: 50px;
  margin: 0px 125px 80px 125px;
}

/*bagian progres item*/
.divider-progressitem {
  position: relative;
  top: 50px;
  margin: 100px 125px 80px 125px;
}

.container-progressitem {
  width: 100%;
}

.wrap-search-progressitem {
  display: flex;
  margin: 0px 125px 45px 125px;
}

.wrap-search-progressitem span {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.wrap-status-progressitem {
  margin: 0px 125px 45px 125px;
}

.wrap-status-progressitem .btn {
  padding: 5px 20px;
  border-radius: 30px;
  background-color: transparent;
  color: #004aad;
  border-color: #004aad;
}

.btn:focus {
  background-color: #004aad;
  color: white;
}

.btn:hover {
  background-color: #004aad;
  color: white;
}

.wrap-status-progressitem h4 {
  display: inline-block;
  margin-right: 10px;
}

.card-progressitem {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0px 125px 45px 125px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
  padding: 15px 15px 10px 15px;
  border-radius: 10px;
}

.card-progressitem img {
  border-radius: 5px;
}

.card-horizontal {
  display: flex;
}

.img-square-wrapper {
  max-width: 150px;
  max-height: 150px;
}

.img-square-wrapper img {
  width: 100%;
  min-height: 100%;
}

.status-lelang-menang {
  font-size: 16px;
  color: #ff2020;
}

.status-lelang-kalah {
  font-size: 16px;
  color: #ccc;
}

.divider-card-progressitem {
  visibility: hidden;
}

.text-info-dan-detail {
  display: flex;
}

.text-info-dan-detail a {
  text-align: right;
  position: absolute;
  padding: 0 15px 15px 0;
  bottom: 0;
  right: 0;
}

/* Bagian Top Up */
.container-topup {
  position: relative;
  top: 100px;
  padding: 30px;
  width: 1000px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0px 7px rgba(0, 0, 0, 0.2);
}

.container-topup h2 {
  margin: 0px;
  padding: 30px;
  box-sizing: border-box;
  font-family: 'inter-Bold', sans-serif;
}

.container-topup_footer {
  padding: 30px;
  width: 1000px;
  height: fit-content;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0px 2px rgba(0, 0, 0, 0.2);
}

/* bagian detail item */
.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

.time-and-bid {
  display: flex;
}

.time-and-bid p {
  font-size: 18px;
}

.time-and-bid i {
  font-size: 24px;
  margin-right: 2px;
}

.time-and-bid span {
  margin: 0px 6px;
}

.detail-item-harga {
  font-weight: bold;
  color: #ff2f2f;
}

.button-bid {
  padding: 15px 230px;
}

.profile-section img {
  margin-right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.profile-section .username {
  font-weight: bold;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  transition: all 5s ease-in-out;
  position: absolute;
  float: left;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-weight: bold;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #004aad;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

/* bagian item-toko */
.divider-item-toko {
  top: 50px;
  margin: 100px 125px 80px 125px;
}

.card-profile-toko {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0px 125px 0px 125px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
  padding: 15px 15px 10px 15px;
  border-radius: 10px;
}

.card-profile-toko img {
  border-radius: 50%;
}

.card-horizontal {
  display: flex;
}

.img-square-wrapper-toko {
  max-width: 100px;
  max-height: 100px;
}

.img-square-wrapper-toko img {
  width: 100%;
  min-height: 100%;
}

.card-body-toko {
  padding-left: 20px;
}

.wrap-button-profile-toko {
  align-items: center;
  justify-content: center;
  position: relative;
}

.upload-item-section {
  margin-top: 100px;
  text-align: center;
}

.upload-item-section img {
  max-width: 350px;
  max-height: 350px;
}

.button-lelang {
  text-align: center;
}

.button-lelang .btn {
  background-color: #004aad;
}

.wrap-button-toko {
  padding-top: 20px;
}

/* bagian add item */
.text-judul-halaman {
  font-weight: bold;
  font-size: 36px;
  line-height: 59px;
  color: #000000;
  margin-top: 100px;
}

.text-judul {
  font-size: 20px;
  line-height: 39px;
  color: #141414;
}

.form {
  margin: 0px 0px 20px;
  padding: 0px 50px;
}

.form .grid {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.form .grid .form-element {
  width: 150px;
  height: 150px;
  box-shadow: 0px 0px 20px 5px rgba(100, 100, 100, 0.1);
}

.form .grid .form-element input {
  display: none;
}

.form .grid .form-element img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.form .grid .form-element div {
  position: relative;
  height: 40px;
  margin-top: -40px;
  background: rgba(100, 100, 100, 0.5);
  text-align: center;
  line-height: 40px;
  font-size: 13px;
  color: #f5f5f5;
  font-weight: 600;
}

.form .grid .form-element div span {
  font-size: 40px;
}

.form-box {
  margin: 20px 20px 20px;
  padding: 0px 50px;
}
