<section id="footer">
    <footer class="section-footer mt-5 mb-4 border-top">
      <div class="container-md">
          <div class="row justify-content-center">
              <div class="col-12">
                  <div class="row">
                      <div class="col-4 col-lg-5 pe-5 ps-5">
                          <h5 style="font-family: 'Inter', sans-serif; font-weight:600">LelangKu</h5>
                          <ul class="list-unstyled">
                              <p class="text-secondary" style="font-family: 'Inter', sans-serif; font-weight:400">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                              when an unknown printer took a galley of type and scrambled it to make a type 
                              specimen book.</p>
                              <h5 style="font-family: 'Inter', sans-serif; font-weight:600">Ikuti Kami</h5>
                              <div class="wrapper-icon">
                                <a href="#"><img src="../images/facebook.png" alt=""></a>
                                <a href="#"><img src="../images/instagram.png" alt=""></a>
                                <a href="#"><img src="../images/twitter.png" alt=""></a>
                              </div> 
                          </ul>
                      </div>
                      <div class="col-5 col-lg-4 ps-4">
                          <h5 style="font-family: 'Inter', sans-serif; font-weight:600">Bantuan dan Panduan</h5>
                          <ul class="list-unstyled">
                              <li><a class="text-secondary" href="#">Syarat & Ketentuan</a></li>
                              <li><a class="text-secondary" href="#">Kebijakan Privasi</a></li>
                          </ul>
                      </div>
                      <div class="col-4 col-lg-2 pb-3">
                          <h5><img src="../images/Logofooter.png" alt=""></h5>
                      </div>
                  </div>
              </div>
          </div>
      </div>