<div class="header">
    <div class="div-navbar d-flex flex-column">
      <div class="d-flex justify-content-between align-items-center">
        <img class="img-lelangku" src="images/Lelangku 2.png" alt="" />
        <span class="mx-2 text-kategori">Kategori</span>
        <div class="wrap-search">
          <input type="text" class="form-control" placeholder="Cari barang.." />
        </div>
        <div class="wrap-icons">
          <div class="bx bxs-cart-alt"></div>
          <div class="bx bxs-bell"></div>
          <div class="bx bxs-envelope"></div>
        </div>

        <span class="mr-3 line">|</span>

        <div class="d-flex justify-content-between align-items-center">
          <span class="text-masuk">Hasbulla</span>
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img src="/1667652875628-KTM.jpg" alt="" width="36" height="36"
                class="d-flex justify-content-between align-items-center" />
            </a>
          </div>
        </div>
      </div>
    </div>
</div>